<div fxLayout="column" fxLayoutGap="20px">
  <app-menu [currentTab]="'purchases'"></app-menu>

  <div class="heading">Einkaufszeilen</div>

  <table mat-table [dataSource]="purchaseService.purchaseLines">
    <ng-container matColumnDef="itemVariant">
      <th mat-header-cell *matHeaderCellDef>Artikelvariante</th>
      <td mat-cell *matCellDef="let element"> {{ element.itemVariant.name }} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Preis in €</th>
      <td mat-cell *matCellDef="let element"> {{ displayPrice(element.price) }} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Menge</th>
      <td mat-cell *matCellDef="let element"> {{ element.quantity }} </td>
    </ng-container>

    <ng-container matColumnDef="lineAmount">
      <th mat-header-cell *matHeaderCellDef>Zeilenbetrag</th>
      <td mat-cell *matCellDef="let element"> {{ displayPrice(element.lineAmount) }} </td>
    </ng-container>

    <ng-container matColumnDef="delivered">
      <th mat-header-cell *matHeaderCellDef>Geliefert?</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.delivered === true">Ja</div>
        <div *ngIf="element.delivered === false">Nein</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Aktionen</th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button (click)="editPurchaseLine(element)">Bearbeiten</button>
        <button mat-flat-button (click)="deletePurchaseLine(element.id)">Löschen</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div fxLayout="row" fxLayoutGap="20px">
    <button mat-flat-button class="colored-btn" (click)="newPurchaseLine()">Neue Einkauszeile erstellen</button>
    <button mat-flat-button class="colored-btn" (click)="onPostPurchase()">Bestellung buchen</button>
    <button mat-raised-button (click)="onBack()">Zurück</button>
  </div>

</div>
