<div mat-dialog-title *ngIf="data.content.itemVariant">{{ itemVariant.value.name }}</div>
<div mat-dialog-title *ngIf="!data.content.itemVariant">Neue Einkaufszeile</div>

<div mat-dialog-content fxLayout="column" fxLayoutGap="16px">

  <div *ngIf="!data.content.itemVariant">
    <mat-form-field appearance="fill" class="long-form-field">
      <mat-label>Artikel</mat-label>
      <mat-select [formControl]="item">
        <mat-option *ngFor="let item of itemService.items" [value]="item">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="item.value">
      <mat-form-field appearance="fill" class="long-form-field">
        <mat-label>Artikelvariante</mat-label>
        <mat-select [formControl]="itemVariant">
          <mat-option *ngFor="let itemVariant of itemVariants" [value]="itemVariant">
            {{ itemVariant.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <mat-form-field appearance="fill" class="long-form-field">
    <mat-label>Preis in €</mat-label>
    <input matInput [(ngModel)]="data.content.itemPrice">
  </mat-form-field>

  <mat-form-field appearance="fill" class="long-form-field">
    <mat-label>Menge</mat-label>
    <input matInput type="number" [(ngModel)]="data.content.quantity">
  </mat-form-field>

  <mat-label>Geliefert?</mat-label>
  <mat-radio-group [(ngModel)]="data.content.delivered">
    <mat-radio-button *ngFor="let option of options" [value]="option" color="accent" class="radio-btn">
      {{ option.name }}
    </mat-radio-button>
  </mat-radio-group>

</div>

<div mat-dialog-actions fxLayout="row" fxLayoutGap="20px">
  <button mat-flat-button
          class="colored-btn"
          *ngIf="!data.content.id"
          (click)="postNewPurchaseLine()">Speichern
  </button>
  <button mat-flat-button
          class="colored-btn"
          *ngIf="data.content.id">Speichern
  </button>
  <button mat-raised-button [mat-dialog-close]="'cancel'">Abbrechen</button>
</div>

