<div fxLayout="column" fxLayoutGap="20px">
  <app-menu [currentTab]="'sales'"></app-menu>

  <div class="heading">2. Buchungszeilen hinzufügen</div>

  <table mat-table [dataSource]="saleService.saleLines">
    <ng-container matColumnDef="itemVariant">
      <th mat-header-cell *matHeaderCellDef>Artikelvariante</th>
      <td mat-cell *matCellDef="let element"> {{element.itemVariant.name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Preis in €</th>
      <td mat-cell *matCellDef="let element"> {{element.itemPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Menge</th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="lineAmount">
      <th mat-header-cell *matHeaderCellDef>Zeilenbetrag</th>
      <td mat-cell *matCellDef="let element"> {{element.lineAmount}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Aktionen</th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button (click)="editSaleLine(element)">Bearbeiten</button>
        <button mat-flat-button (click)="deleteSaleLine(element.id)">Löschen</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div fxLayout="row" fxLayoutGap="20px">
    <button mat-flat-button class="colored-btn" (click)="newSaleLine()">Neue Buchungszeile erstellen</button>
    <button mat-raised-button (click)="onBack()">Zurück</button>
  </div>

</div>
