<div fxLayout="column" fxLayoutGap="20px">
  <app-menu [currentTab]="'sales'"></app-menu>

  <div class="heading">Offene Verkäufe</div>

  <table mat-table [dataSource]="saleService.saleHeaders">
    <ng-container matColumnDef="employee">
      <th mat-header-cell *matHeaderCellDef>Verkäufer</th>
      <td mat-cell *matCellDef="let element"> {{element.employee.given_name}} {{ element.employee.surname }}</td>
    </ng-container>

    <ng-container matColumnDef="postingDate">
      <th mat-header-cell *matHeaderCellDef>Buchungsdatum</th>
      <td mat-cell *matCellDef="let element"> {{ formatDate(element.posting_date) }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Aktionen</th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button (click)="onShowLines(element.id)">Details</button>
        <button mat-flat-button (click)="onEditSalesHeader(element.id)">Bearbeiten</button>
        <button mat-flat-button (click)="deleteSaleHeader(element.id)">Löschen</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-flat-button
          class="colored-btn"
          (click)="onNewSaleHeader()"
          style="width: fit-content">Neuer Verkauf</button>
</div>
