<div fxLayout="column" fxLayoutGap="20px">
  <app-menu></app-menu>

  <form [formGroup]="employeeFormGroup" fxLayout="column" fxLayoutGap="16px">
    <mat-form-field appearance="fill" class="long-form-field">
      <mat-label>Vorname</mat-label>
      <input matInput formControlName="given_name">
    </mat-form-field>

    <mat-form-field appearance="fill" class="long-form-field">
      <mat-label>Nachname</mat-label>
      <input matInput formControlName="surname">
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="20px">
      <button mat-flat-button class="colored-btn">Speichern</button>
      <button mat-raised-button>Löschen</button>
    </div>
  </form>
</div>
