<div fxLayout="row" fxLayoutGap="20px">
  <div class="tag">Startseite</div>
  <div>Lager</div>
  <div>Artikel</div>
  <div>Verkäufer</div>
  <div>Lieferanten</div>
  <div>Verkauf</div>
  <div>Bestellung</div>
</div>

<p>Herzlich Willkommen auf der Startseite von ChickClothes. Hier können Sie zu folgenden Seiten gelangen:</p>

<div fxLayout="column" fxLayoutGap="20px">
  <div>Lager</div>
  <div>Artikel</div>
  <div>Verkäufer</div>
  <div>Lieferanten</div>
  <div>Verkauf</div>
  <div>Bestellung</div>
</div>
