<div fxLayout="row" fxLayoutGap="20px">
  <div class="tag hover">Startseite</div>
  <div class="hover" (click)="onStock()">Lager</div>
  <div class="hover" (click)="onItems()">Artikel</div>
  <div class="hover" (click)="onEmployees()">Verkäufer</div>
  <div class="hover" (click)="onVendors()">Lieferanten</div>
  <div class="hover" (click)="onSale()">Verkauf</div>
  <div class="hover" (click)="onOrder()">Bestellung</div>
</div>

<p>Herzlich Willkommen auf der Startseite von ChickClothes. Hier können Sie zu folgenden Seiten gelangen:</p>

<div fxLayout="column" fxLayoutGap="20px">
  <div class="hover">Lager</div>
  <div class="hover">Artikel</div>
  <div class="hover">Verkäufer</div>
  <div class="hover">Lieferanten</div>
  <div class="hover">Verkauf</div>
  <div class="hover">Bestellung</div>
</div>

