<div mat-dialog-title *ngIf="data">Artikelvariante bearbeiten</div>
<div mat-dialog-title *ngIf="!data">Neue Artikelvariante</div>

<div mat-dialog-content fxLayout="column" fxLayoutGap="16px">
  <mat-form-field appearance="fill" class="long-form-field">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.content.name">
  </mat-form-field>

  <mat-form-field appearance="fill" class="long-form-field">
    <mat-label>Preis in €</mat-label>
    <input matInput [formControl]="price">
  </mat-form-field>

  <mat-form-field appearance="fill" class="long-form-field">
    <mat-label>Größe</mat-label>
    <input matInput [(ngModel)]="data.content.size">
  </mat-form-field>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutGap="20px">
  <button mat-flat-button
          class="colored-btn"
          *ngIf="!data.content.id"
          (click)="postNewItemVariant()">Speichern
  </button>
  <button mat-flat-button
          class="colored-btn"
          *ngIf="data.content.id"
          (click)="updateItemVariant()">Speichern
  </button>
  <button mat-raised-button [mat-dialog-close]="'cancel'">Abbrechen</button>
</div>

